services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - CHOKIDAR_USEPOLLING=value
    volumes:
      - ./frontend:/app
    ports:
      - 826:826
    command: sh -c "npm run dev"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - CHOKIDAR_USEPOLLING=value
    volumes:
      - ./backend:/app
    ports:
      - 2025:2025
    command: sh -c "npm run dev"
    depends_on:
      - database

  database:
    image: mysql:lts
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=dbname
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
    ports:
      - 2026:2026
    volumes:
      - todo_app_db:/var/lib/mysql

volumes:
  todo_app_db:
    driver: local
